In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv('heart.attack.csv')
le = LabelEncoder()
df['Patient ID'] = le.fit_transform(df['Patient ID'])
df['Sex'] = le.fit_transform(df['Sex'])
df['Diet'] = le.fit_transform(df['Diet'])
df['Continent'] = le.fit_transform(df['Continent'])

print(df)

      Patient ID  Age  Sex  Cholesterol Blood Pressure  Heart Rate  Diabetes  \
0            241   67    1          208         158/88          72         0
1            455   21    1          389         165/93          98         1
2            247   21    0          324         174/99          72         1
3           1469   84    1          383        163/100          73         1
4            972   66    1          318          91/88          93         1
...          ...  ...  ...          ...            ...         ...       ...
3994        2863   22    1          257         134/63          75         1
3995        3099   66    1          201         172/91          59         1
3996        2881   42    0          129         109/63          76         1
3997         400   81    1          127        153/110         109         0
3998         623   81    1          333        109/103          78         1

      Family History  Smoking  Diet  Continent  Heart Attack Risk
0                  0        1     0          5                  0
1                  1        1     2          4                  0
2                  0        0     1          3                  0
3                  1        1     0          4                  0
4                  1        1     2          1                  0
...              ...      ...   ...        ...                ...
3994               1        1     0          1                  0
3995               0        1     1          3                  0
3996               1        1     1          3                  0
3997               1        1     1          1                  0
3998               1        1     0          2                  1

[3999 rows x 12 columns]

In [4]:
#Extract the columns we need to normalize
columns_to_normalize = ['Age' , 'Cholesterol','Heart Rate']
data_to_normalize = df[columns_to_normalize]

In [5]:
minmax_scaler = MinMaxScaler()
normalized_data_minmax = minmax_scaler.fit_transform(data_to_normalize)

In [6]:
# Replace the normalized values in the original dataFrame
df[columns_to_normalize] = normalized_data_minmax

print("Min-Max Scaled data(only 2nd ,4th and 6th columns): ")
print(df)

Min-Max Scaled data(only 2nd ,4th and 6th columns):
      Patient ID       Age  Sex  Cholesterol Blood Pressure  Heart Rate  \
0            241  0.680556    1     0.314286         158/88    0.457143
1            455  0.041667    1     0.960714         165/93    0.828571
2            247  0.041667    0     0.728571         174/99    0.457143
3           1469  0.916667    1     0.939286        163/100    0.471429
4            972  0.666667    1     0.707143          91/88    0.757143
...          ...       ...  ...          ...            ...         ...
3994        2863  0.055556    1     0.489286         134/63    0.500000
3995        3099  0.666667    1     0.289286         172/91    0.271429
3996        2881  0.333333    0     0.032143         109/63    0.514286
3997         400  0.875000    1     0.025000        153/110    0.985714
3998         623  0.875000    1     0.760714        109/103    0.542857

      Diabetes  Family History  Smoking  Diet  Continent  Heart Attack Risk
0            0               0        1     0          5                  0
1            1               1        1     2          4                  0
2            1               0        0     1          3                  0
3            1               1        1     0          4                  0
4            1               1        1     2          1                  0
...        ...             ...      ...   ...        ...                ...
3994         1               1        1     0          1                  0
3995         1               0        1     1          3                  0
3996         1               1        1     1          3                  0
3997         0               1        1     1          1                  0
3998         1               1        1     0          2                  1

[3999 rows x 12 columns]